body {
  background-color: purple;
  text-align: center;
  font-family: Georgia, serif;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 20px;
}

.pic {
  height: 600px;
  width: 400px;
  object-fit: cover;
}

#myCanvas {
  border: 3px solid white;
}
#dotsBoxes {
  width: 300px;
  border: 3px solid white;
  margin-top: 20px;
}
.dots-boxes-img {
  width: 300px;
  border: 3px solid white;
  margin-top: 20px;
}
h2 {
  color: white;
}
h3 {
  color: lightpink;
  font-size: 20px;
  margin-top: 30px;
}

h4 {
  color: lightblue;
  font-size: 18px;
  text-decoration: underline;
}
